/* Estilo geral para todas as tabelas */
table {
    border-collapse: separate; /* Aqui define se as bordas se separam ou não */
    margin: 0 auto;
    box-shadow:3px 3px 12px rgba(0, 0, 0, 0.281);
    padding: 10px;
    border-radius: 8px;
}

td {
    padding: 0px;
    text-align: center;
    font-weight: bold;
    box-shadow: 3px 3px 12px rgb(0 0 0 / 28%);
    transition: background-color 0.4s;
}
/* 
    Classes dinâmicas manipuladas por JavaScript usada para marcar/realçar a linha e a coluna que a célula pertence
*/
th.destacar { /* class = highlight */
filter: brightness(0.8);
}
td.destacar { /* class = highlight */
filter: contrast(2);
}


/* Estilo da tabela Croqui de Áreas e Setores */
section.table-container1 {
    display: block;/* Para remover o display=flex herdado do arquivo style.css */
    margin-top: 10px;
    min-width: calc(90vw - 2%);
    height: 90vh;
    overflow: auto;
    padding: 10px;
    outline: 1px solid var(--cor_8a);

    /* Para garantir aque o scroll fique sobre os botões que ficam em baixo da tabela. */
    position: relative;
    z-index: 99;
}


/* Tabela de Filas e Plantas */
section.table-container1 table {
    border-radius: 8px;
    background-color: var(--cor_6);
}

/* Sesão de observações */
main  aside.table-container1-obs {
    margin: 0 auto;
    padding: 1.25rem;
    display: flex;
    flex-flow: row wrap;

    /* background-image: url(./falha.png) no-repeat 100% / 100% fixed; */
}
main aside.table-container1-obs div {
    padding: 0.225rem;/* = 3.6px */
    box-shadow: 0px 3px 5px 0px var(--cor_8a);
}
/* main aside.table-container1-obs p, p time{
    font-size: 1.2rem;
} */
main aside.table-container1-obs .table-container1-obs-info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    background-color: var(--cor_8);
    overflow: hidden;
}
main aside.table-container1-obs .table-container1-obs-info-siglas {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: none;/* Remover a sombra de caixa herdada */
}
main aside.table-container1-obs .table-container1-obs-info-siglas h2 {
    padding-left: 1.5rem;
    font-size: 1.6rem;
}
main aside.table-container1-obs .table-container1-obs-info-siglas div{
    box-shadow: none;/* Remover a sombra de caixa herdada */
}
main aside.table-container1-obs .table-container1-obs-info-siglas div#div-info-siglas{
    display: flex;
}
main aside.table-container1-obs .table-container1-obs-info-siglas p {
    padding-left: 1.625rem;
}

main aside.table-container1-obs .table-container1-obs-info-div {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
    box-shadow: none;/* Remover a sombra de caixa herdada */
}
main aside.table-container1-obs .table-container1-obs-info-div div {
    flex: 1 1 150px;
}


/* Tabela plantas e filas */
main #table-container1-title {
    margin: 0 auto;
    position: relative;
    translate: 0% 35%;
    font-size: 1.4rem;
    color: var(--cor_4a);
}
section.table-container1 tbody tr.row-plantas-filas { 
    position: sticky; 
    top: 0; 
    left: 0;
    z-index: 12; /* Assim deixamos a linha que aponta para plantas e filas na primeira camada da página */
}

section.table-container1 tbody tr.row-plantas-filas th:first-child {/* Pode usar o seletor .cell-A1 */
    position: sticky; 
    top: 0; 
    left: -10px;
    z-index: 20;
    background-color: var(--cor_5);
    filter: contrast(1.8);
    padding: 6px;

    /* Deixa a célula Filas/Plantas menor. */
    line-height: 5px;
}

/* SETAS Filas e Plantas
 É o mesmo seletor para >>> section.table-container1 tbody tr.row-plantas-filas th:first-child span */ 
.cell-A1 #cell-A1-span1, #cell-A1-span2{/* Pode usar o seletor .cell-A1 span*/
    display: block;
    font-size: 1.4rem;
    position: relative;    
    color: #000000;
    pointer-events: none; /* Garanti que eventos de mouse não tenha efeito com este elemento */
}
#cell-A1-span1 {
    top: -10px;
    left: 36px;
}
#cell-A1-span2 {
    top: 20px;
    left: -20px;
}

section.table-container1 tbody tr.row-plantas-filas th {
    background-color: var(--cor_9);
    position: sticky;
    top: 0;
    left: 0;
    z-index: -1;
    padding: 2px 4px;
}

section.table-container1 tbody tr th.row {
    background-color: var(--cor_9);
    /* Assim  gruda as <th class=row> a 36px do top se scrollar a tabela verticalmente, e 10px à esquerda se scrollar horizontalmente*/
    position: sticky;
    top: 0; 
    left: -10px; 
    z-index: 11;/* Assim  subimos os elementos para uma camada da página em que os itens que foram passando por ele fiquem por trás. */
}


/* Estilos Dinâmicos para:
    B = Planta Boa (Produtiva)
    F = Planta Falha (Ausente)
    R = Planta Replantada (Replantio)  
    None = Sem Planta  
*/
.planta-B {
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--cor_6a);
    color: var(--cor_9);
    font-weight: bolder;
}
.planta-F {
    position: sticky;
    top: 0;
    left: 0;
    background-color: rgba(255, 0, 0, 0.76);
    color: rgb(172, 255, 5);
    font-weight: bolder;
}
.planta-R {
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--cor_3);
    color: var(--cor_4);
    font-weight: bolder;
}
.planta-None {
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--cor_6);
    box-shadow: none;/* Remove a herança de sombra vindo do seletor td{}  */
    /* border-bottom: .200px solid var(--cor_8a); */
}


/* Container com a tabela de detalhes */

/* RESET----- para sobrepor no [style.css] o valor no seletor main section{flex-flow: row nowrap;}  */
section.container-detalhes {
    max-width: 90vw;
    margin: 0 auto;
    flex-wrap: wrap;
    box-shadow: -2px 5px 8px 1px var(--cor_8a);
    padding: 1.25rem;
    overflow: hidden;
    background-color: var(--cor_8);
}
section.container-detalhes div.container-detalhes-title {
    width: 100%;
}
section.container-detalhes div.container-detalhes-title h2{
    text-align: center;
    color: var(--cor_5);
    font-size: 2.8rem;
    text-shadow: 2px 3px 2px #000000d9;
}
section.container-detalhes section.container-detalhes-sec1 {

    /* display: flex; inherit(herdada por padrão) das configurações de section */
    width: 100%;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-evenly;
    padding-bottom: 0.625rem;
}


/* container-sobre-pulverizacao */
.container-detalhes-pulverizacao {
    box-shadow: inset -2px -1px 2px 1px var(--cor_8a);
    padding: 0.625rem; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* order: 1; altera a posição do elemento: zero(0) para voltar para a esquerda*/
    margin: 10px 1rem;/* = 16px esquerda, 10px cima, 16px dirita e 10px baixo */
    border-radius: .5rem;
    background-color: #ffffff28;
    color: var(--cor_4a);
}
.container-detalhes-pulverizacao legend {
    text-align: center;
    padding: 0.625rem;
    font-size: 1.4rem;
    font-weight: bold;
}
.container-detalhes-pulverizacao div{
    background: rgba(255, 255, 255, 0.253);
    padding: 8px 0px;
    font-size: 2.4rem; 
}

/* Estilo da sessão de bandeiras e radios selecionados */
.container-detalhes-sec1-flags p {
    margin: 10px 0px;
}
.container-detalhes-sec1-flags fieldset{
    padding: 20px;
    margin-bottom: 20px;
}

/*  */
.container-detalhes-sec1-flags  label::before {
    content: '';
    display: inline-block;
    width: 0.2em;
    height: 0.2em;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin-right: 0.5em;
    background-color: white;/* padrão */
    vertical-align: middle;
    position: relative;
    top: -2px;
    left: -13px;
}
/* Indicação de cor para o input radio a ser seleccionado de acordo com a bandeira */
.container-detalhes-sec1-flags  input#lime-flag-selected[type="radio"] + label::before {
    background-color: lime; 
    border-color: lime;
}
.container-detalhes-sec1-flags  input#orange-flag-selected[type="radio"] + label::before {
    background-color: orange; 
    border-color: orange;
}
.container-detalhes-sec1-flags  input#red-flag-selected[type="radio"] + label::before {
    background-color: red; 
    border-color: red;
}

.container-detalhes-pulverizacao div#lime-flag, #orange-flag, #red-flag {
  height: 76px;
}
.container-detalhes-pulverizacao div#lime-flag img{
  color: lime;
  position: relative;
  top: 10px;
  width: 1em;
}
.container-detalhes-pulverizacao div#orange-flag img{
  color: orange;
  position: relative;
  top: 10px;
  width: 1em;  
}
.container-detalhes-pulverizacao div#red-flag img{
  color: red;
  position: relative;
  top: 10px;
  width: 1em;          
}
.container-detalhes-pulverizacao div.hidden {   
  border-bottom: 2px solid;
  box-shadow: 0px -1px 1px 0px black;
  border-radius: 1px;
  background: var(--cor_0);
}
.container-detalhes-pulverizacao div i.fa-flag {
  --fa: "\f024";
  position: relative;
  top: 14px;
}

/* TABELA de detalhes  */
section.container-detalhes table {
    background-color: #ffffff28;
    color: var(--cor_4a);
}
section.container-detalhes table th {
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.281);
    padding: 10px;
}